*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
wheelhouse
develop-eggs
.installed.cfg
lib
lib64
venv*/
pyvenv*/
.env/

# Installer logs
pip-log.txt

# Complexity
output/*.html
output/*/index.html

.DS_Store
*~
.*.sw[po]
.build
.ve
.env
.cache
.pytest
.bootstrap
.appveyor.token
*.bak

.ipynb_checkpoints
.pytest_cache
/docs/html
*.gv*

/src/compscat/_version.py
#root

*.root
*.csv
*.pdf
