include LICENSE README.md
include tests/test*.py
exclude environment.yml _config.yml
recursive-exclude .github/
recursive-exclude notebooks/
recursive-exclude analysis/
recursive-include compscat/*.py
include setup.cfg
include setup.py
global-exclude *.py[cod] __pycache__ *.so *.dylib
global-exclude *.root
global-exclude *.csv
